/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Security Config ###
src/main/java/com/sdorilas/tracer/tracerapp/security/SecurityConfig.java
target/classes/com/sdorilas/tracer/tracerapp/security/SecurityConfig.class
*.properties
